.social-proof {
    background-image: url("/images/bg-pattern-bottom-desktop.svg");
    background-color: white;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 8rem 13rem;
    box-shadow: 10px 15px 30px #c9c9c9;
}