.rating-block {
    display: flex;
    background-color: hsl(300, 24%, 96%);
    height: 5.3rem;
    width: 80%;
    margin: 1rem;
    padding: 2.1rem;
    font-size: 1.3rem;

    @include respond(phone){
        display: block;
        height: auto;
        width: 100%;
        padding: 1rem;
    }

    &__star-cont {
        margin: 0 0 0 1rem;

        @include respond(phone){
            margin: .5rem;
        }
    }

    &__star {
        margin: 0 .3rem;
    }

    &__caption {
        margin: 0 0 0 3rem;

        @include respond(phone){
            margin: 1rem 0 .5rem 0;
        }
    }

}

.rating-block--1 {
    transform: translateX(-8rem);

    @include respond(phone){
        transform: translateX(0);       
    }
}
.rating-block--2 {
    transform: translateX(-4rem);

    @include respond(phone){
        transform: translateX(0);
    }
}


